@import "~style";
.Self-orderingDetails {
    // padding-bottom: 100px;
    .navbar {
        border-bottom: none;
        margin-bottom: 20px;
        .nav-right .icon-right:before {
            content: '\E633';
        }
    }

    .wait-box {
        text-align: center;
        padding: 40px 0 9px 0;
        background: @fiery-red;
        color: @white;
        .wait-top {
            font-size: @font-size-48;
        }
        .wait-center {
            font-size: @font-size-24;
            margin: 20px 0 10px 0;
        }
        .wait-bottom {
            height: 50px;
            width: 140px;
            border-radius:25px;
            background: @white;
            color: @fiery-red;
            margin: auto;
            line-height: 50px;
            font-size: @font-size-24;
        }
    }

    .address {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        background-color: @white;
        padding: 40px 30px;
        .address-left {
            flex: 1;
            .shop-name {
                display: flex;
                justify-content: space-between;
                font-size: @font-size-30;
                color: @darker-black;
                .shop-name-left {
                    flex: 1;
                    margin-right: 5px;
                    max-width: 2rem;
                    text-overflow: ellipsis;
                    overflow: hidden
                }
                .shop-name-right {
                    max-width: 200px;
                    .TextOverflow();
                }
            }
            .time {
                font-size: @font-size-24;
                color: @gray;
                margin: 10px 0 6px 0;
                a{
                    color:@gray;
                    text-decoration:none;
                    pointer-events:none;
                }
            }
            .place {
                span {
                    font-size: @font-size-30;
                    color: @darker-black;
                    vertical-align: middle;
                    a{
                        color:@darker-black;
                    }
                }
            }
            .place:before {
                content: '\e648';
                font-size: @font-size-40;
                color: @fiery-red;
            }
        }
        .address-right {
            img {
                width:220px;
                height:120px;
                border-radius: 20px;
                margin-left: 53px;
            }
        }
    }
//公共内边距
    .common-margin {
        padding: 0 30px;
        .self-mention{
            color:#666;
            font-size: 24px;
        }
    }

    .shop-lists{
        .aroundBlank();
        margin: 20px auto 0;
        background: @white;
        overflow: hidden;
        //border-bottom: 1px solid @to-light-gray;
        .hairline('bottom',@to-light-gray);
        .shop-name {
            display: flex;
            font-size: @font-size-30;
            box-sizing: border-box;
            justify-content: space-between;
            .shop-title{
                display: flex;
                justify-content: left;
                font-weight: 500;
                img {
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                }
                p {
                    font-size: 30px;
                    line-height: 72px;
                    color: @darker-black;
                    margin: 0 20px 0 31px;
                    max-width: 400px;
                    text-overflow:ellipsis;
                    overflow: hidden;
                }
            }
            span {
                margin: auto 0;
                //margin-top: 11px;
            }
            .right{
                color: @fiery-red;
                width: 140px;
                height: 50px;
                line-height: 48px;
                border: 2px solid @fiery-red;
                text-align: center;
                border-radius: 50px;
                font-size: @font-size-24;
            }
        }
        .goods {
            margin-top: 30px;
            display: flex;
            .goods-left {
                margin-right: 20px;
                display: flex;
                img {
                    border-radius: 10px;
                    flex: 0 0 240px;
                    width: 240px;
                    height: 240px;
                }
            }
            .goods-right {
                flex: 1;
                padding-top: 10px;
                box-sizing: border-box;
                height: 170px;
                .goods-desc {
                    height: 67px;
                    font-size: 30px;
                    color: @darker-black;
                    .desc-title{
                        .TextareaOverflow(2);
                        // margin-right: 28px;
                        float:left;
                        font-size: 36px;
                        width:3rem;
                    }
                    .desc_price{
                        float:right;
                        .small_money{
                            font-size: 24px;
                        }
                    }
                }
                .goods-sku {
                    display: flex;
                    font-size: 20px;
                    color: @gray;
                    margin: 11px 0;
                    justify-content: space-between;
                    .sku-left {
                        display: flex;
                        justify-content: left;
                        //flex: 2;
                        flex: 1;
                        margin-bottom:  10px;
                        .goods-size{
                            //flex: 1;
                            max-width: 33%;
                            padding: 0 20px 0 0;
                            .TextareaOverflow(1);
                            //border-right: 1px solid @gray;
                            //.hairline('right',gray);
                            font-size: 24px;
                        }
                        .goods-size:nth-child(1) {
                            padding-left: 0;
                        }
                        .goods-size:last-child {
                            border-right: none;
                            padding-right: 0;
                        }
                    }
                    .local {
                        font-size: @font-size-24;
                    }
                }
                .accounting {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 25px;
                    .local {
                        font-size: @font-size-28;
                        color: @gray;
                    }
                    .btn-keep{
                        background:#ffeaed;
                        color:#FF2D51;
                    }
                }
                .goods-price {
                    font-size: 36px;
                    text-align: right;
                    color: @fiery-red;
                    margin-top: 40px;
                }
                .after-service {
                    width: 140px;
                    height: 50px;
                    border:2px solid @fiery-red;
                    border-radius:25px;
                    text-align: center;
                    line-height: 48px;
                    margin-left: auto;
                    font-size: 24px;
                    color: @fiery-red;
                }
            }
        }
    }

    .total-price {
        padding: 31px 0 38px 0;
        //border-bottom: 1px solid @to-light-gray;
        .hairline('bottom',@to-light-gray);
        font-size: @font-size-30;
        color: @darker-black;
        background-color: @white;
        .bookkeeping ,.all-prices {
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            color:#666;
            .card-value{
                color:#F71920;
            }
        }
        .all-prices {
            margin: 20px 0;
        }
    }
    .total-price::after, .shop-lists::after {
        height: 0!important;
    }
    .payable {
        display: flex;
        justify-content: space-between;
        font-size: @font-size-24;
        color: @darker-black;
        padding: 43px 30px 45px 30px;
        background-color: @white;
        margin-bottom: 17px;
    }

    .payable span:nth-child(2){
        font-size: 36px;
        .small_money{
            font-size: 24px;
        }
    }

    .order {
        padding-top: 44px;
        padding-bottom: 40px;
        font-size: @font-size-24;
        color: @darker-black;
        background-color: @white;
        margin-bottom: 20px;
        .number-left,.order-time-left,.payment-time-left,.order-remarks-left {
            margin-right: 55px;
        }
        .number,.order-time,.payment-time {
            margin-bottom: 33px;
        }
        .order-time-center,.payment-time-center {
            margin-right: 20px;
        }
        .number {
            display: flex;
            justify-content: space-between;
            .number-center {
                flex: 1;
                margin-right: 50px;
                .TextOverflow();
            }
            .number-right {
                color: @link-color;
            }
        }
        .order-time, .payment-time, .order-remarks {
            display: flex;
            justify-content: flex-start;
            span:nth-child(2) {
                flex: 1;
            }
        }
        .payment-time {
            span:nth-child(2) {
                .TextOverflow();
            }
        }
    }

    .business {
        display: flex;
        justify-content: space-around;
        font-size: @font-size-30;
        color: @darker-black;
        height: 90px;
        line-height: 54px;
        padding: 18px 0;
        background-color: @white;
        .business-left,.business-center,.business-right {
            width: 250px;
            text-align: center;
        }
        .frame-lfet, .frame-right {
            z-index: 0;
            .hairline('right',@to-light-gray);
            width: 50%;
            display: block;
            text-align: center;
            font-size: @font-size-30;
            .icon-symbol {
                vertical-align: -10px;
                margin-right: 20px;
            }
        }
        .frame-lfet:before {
            content: '\e679';
            color: #00AEFF;
            margin-right: 20px;
            font-size: @font-size-30;
        }
        .frame-right:before {
            content: '\e672';
            color: @fiery-red;
            margin-right: 20px;
            font-size: @font-size-30;
        }
    }

    .collection {
        display: flex;
        justify-content: space-around;
        padding: 20px 30px;
        height: 112px;
        margin: 20px 0;
        background-color: @white;
        .collection-left {
            margin-right: 31px;
            img {
                width: 72px;
                height: 72px;
                border-radius: 50%;
            }
        }
        .collection-center {
            flex: 1;
            line-height: 72px;
            margin-right: 40px;
            .TextOverflow();
        }
        .collection-right {
            width: 140px;
            height: 50px;
            text-align: center;
            line-height: 46px;
            border-radius: 100px;
            margin: auto;
            color: @fiery-red;
            border:1px solid @fiery-red;
            font-size: @font-size-24;
        }
        .removeCollect{
            width: 140px;
            height: 51px;
            text-align: center;
            line-height: 49px;
            
            margin: auto;
            padding-top: 1px;
            color: @light-gray;
            border:1px solid @light-gray;
            border-radius: 100px;
            // .hairline('all', @light-gray);
            font-size:24px;
        }
    }

    .recommend-box {
        .recommend {
            font-size: @font-size-30;
            color: @darker-black;
            background-color: @white;
            line-height: 100px;
            //padding-top: 30px;
            //padding-bottom: 21px;
            padding-bottom: 100px;
        }
        .shop-lists {
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 30px;
            .accounting {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                .accounting-right {
                    font-size: @font-size-20;
                    color: @gray;
                    line-height: 34px;
                }
            }
            .drawee {
                font-size: @font-size-20;
                color: @gray;
                font-weight:bold;
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;
                .drawee-right {
                    text-decoration:line-through;
                }
            }
        }
        .shop-lists:last-child {
            border-bottom: none;
        }
        .name-price {
            display: flex;
            justify-content: space-between;
            line-height: 40px;
            .name-price-left {
                font-size: @font-size-20;
                color: @gray;
                margin-right: 30px;
            }
            .name-price-center {
                font-size: @font-size-20;
                color: @dark-gray;
                flex: 1;
            }
            .name-price-center:after {
                content: '\E643';
                vertical-align: bottom;
                font-size: @font-size-30;
                margin-left: 15px;
            }
            .name-price-right {
                font-size: @font-size-36;
                color: @fiery-red;
            }
        }
    }
    .cancel-order-box {
        position: fixed;
        bottom: 0;
        padding: 25px 30px 25px 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: @white;
        box-shadow:@box-shadow-0271;
        .assessment {
            display: flex;
        }
        .cancel-order {
            width: 140px;
            height: 50px;
            font-size: @font-size-24;
            color: @dark-gray;
            border: 2px solid @dark-gray;
            border-radius: 100px;
            //margin-left: auto;
            text-align: center;
            line-height: 48px;
            margin-left: 20px;
        }
        .immediate-evaluation {
            width: 140px;
            height: 50px;
            font-size: @font-size-24;
            color: @fiery-red;
            border:2px solid @fiery-red;
            text-align: center;
            line-height: 48px;
            margin-left: 20px;
            border-radius: 100px;
        }
    }
}
.max-img{
    width: 100%;
    margin-top: 4rem;
}
