@import "~style";
.password-payment {
    .title,.titleTwo{
        font-family: '微软雅黑';
        font-size: 26px;
        margin-left:50px;
        color:@dark-gray;
        margin-bottom:10px;
       }
    .am-navbar{
        font-weight: 500;
        background:linear-gradient(180deg,@garnet-red 0%,@fiery-red 100%);
        border: none;
        margin-bottom: 20px;
    }
    .icon-left:before{
        content: '\E646';
        font-size: @font-size-46;
        color: @white !important;
    }

}

.password-detail {
    .am-list-line::after {
        height: 0!important;
    }
    .input-box > .am-list-item:nth-child(1) ,.get-number {
        .hairline('bottom',#E6E6E6);
        display: flex;
        justify-content: space-between;
        .sure-pass {
            flex: 1;
        }
    }
}
.password-box {
    position: absolute;
    top: 110px;
    bottom: 0;
    width: 100%;
    background: @white;
    padding-top: 1rem;
    .payment-code {
        padding: 0 70px;
        margin-bottom: 20px;
    }
    .content{
        width: 100%;
        height: 200px;

    }
}

.box,.boxTwo{
    //  width: 300px;
    height: 100px;
    // border:1px solid @light-gray;
    .hairline('all', @light-gray);
    margin-top: 10px;
    line-height: 30px;
    padding:20px;
    background:@white;
    border-radius: 10px;
    margin-left:50px;
    border-color:red;
}
.content .boxTwo,.forget{
    display: inline-block;
}
.content .box,.forget{
    display: inline-block;
}
.content .forget{
    width: 100px;
    color:lightskyblue;
    vertical-align: super;
    font-size: 14px;
}
.box input.paw{
    width: 100px;
    height: 60px;
    line-height: 20px;
    margin-left: -9px;
    border:none;
    // border-right: 1px dashed @light-gray;
    .hairline('right', @light-gray);
    border-style: dashed;
    text-align: center;
}
.boxTwo input.pawTwo{
    width: 100px;
    height: 60px;
    line-height: 20px;
    margin-left: -9px;
    border:none;
    // border-right: 1px dashed @light-gray;
    .hairline('right', @light-gray);
    border-style: dashed;
    text-align: center;
}
.box input.paw:nth-child(1){
    margin-left: 0;
}
.boxTwo input.pawTwo:nth-child(1){
    margin-left: 0;
}
.content .box .pawDiv:nth-child(6) input.paw{
    border: none;
}
.content .boxTwo .pawDivTwo:nth-child(6) input.pawTwo{
    border: none;
}
.content .box input.paw:focus{outline:0;}
.content .boxTwo input.pawTwo:focus{outline:0;}
.content .box .pawDiv{
    // display: inline-block;
    line-height: 30px;
    //  width: 31px;
    height: 100px;
    margin-top: -2px;
    float: left;
}
.content .boxTwo .pawDivTwo{
    // display: inline-block;
    line-height: 30px;
    //  width: 31px;
    height: 100px;
    margin-top: -2px;
    float: left;
}
.point{
    font-size: 14px;
    color: @light-gray;
    margin: 5px 0;
}
.errorPoint{
    color: red;
    display: none;
}
.difference{
    text-align: center;
    color:@darker-black;
    font-size:28px;
}
.resend{
    color:@dark-gray !important;
}

.wxCipher {
    top: 0 !important;
}
