// 颜色定义
@bule: #2e6bb1;
@border-color: #eaeaea;
@red: #cf2545;

// 颜色应用场景
// @app-header-color: @red;
//链接字段(色值:#990000)
@link-color: #900;

/*
*       标准色
*   有效按钮、图标、主色块
*/
@garnet-red: #f20c00;
@fiery-red: #ff2d51;
/*
*       辅助色
*   辅助、提示类文字、图标、 按钮等
*/
@duckling-yellow: #fc0;
@sapphire-blue: #63f;
@darker-black: #333;

@ginger-yellow: #FFCEBD;
@pink-yellow: #FFE1C0;
@crimson-red: #F00;
@gray: #999;
@light-gray: #ccc;
@dark-gray: #666;
@white: #fff;
@to-light-gray: #EEE;
@light-black: rgba(0, 0, 0, 0.3);
@light-white: rgba(255, 255, 255, 0.6);
@ligth-gray: rgba(102,102,102,0.4);
/*      渐变色
    色块、图标、插图等
*/
@red-gradient:linear-gradient(@fiery-red,@garnet-red);
@purple-gradient:linear-gradient(#CCF,@sapphire-blue);
@yellow-gradient:linear-gradient(#FFC,@duckling-yellow);
//背景色
@back-color: #F9F9F9;

//字体的定义
@font-family: PingFang-SC-Medium;

//字体的大小
@font-size-300: 300px;
@font-size-100: 100px;
@font-size-72: 72px;
@font-size-60: 60px;
@font-size-50: 50px;
@font-size-48: 48px;
@font-size-46: 46px;
@font-size-44: 44px;
@font-size-43: 43px;
@font-size-42: 42px;
@font-size-40: 40px;
@font-size-38: 38px;
@font-size-36: 36px;
@font-size-34: 34px;
@font-size-32: 32px;
@font-size-30: 30px;
@font-size-28: 28px;
@font-size-26: 26px;
@font-size-24: 24px;
@font-size-20: 20px;
@font-size-18: 18px;
@font-size-16: 16px;

//字体的粗细
@font-weight-bold: bold;
@font-weight-normal: 500;

//按钮
@button-shadow-red: rgba(242, 13, 3, 0.4);
@button-hairline-light-gray: rgba(204, 204, 204, 0.5);
//阴影
@button-box-shadow: 0 4px 35px 0 @button-shadow-red;
@button-box-shadow-light-gray: 0 0.1rem 0.24rem 0 rgba(204, 204, 204, 0.2);
@box-shadow-0271: 0 2px 7px 1px rgba(255, 146, 150, 0.35);
@box-shadow-02180: 0 2px 18px 0 rgba(255, 146, 150, 0.35);
@box-hsadow-00200: 0 0 20px 0 rgba(204,204,204,0.3);

//两翼留边距
@padding-wingBlank: 32px;

//底部边框线条
@list-border: 1px solid #eeeeee;


