@import "~style";
.regicon{
    .wrapTabNav {
        margin-bottom: 20px;
    }
    .nab{
        font-size: @font-size-36;
        color: @darker-black;
        font-weight: @font-weight-bold;
        height: 88px;
        background: #fff;
    }
    .my-list {
        width: 100%;
        background: @white;
        .am-list-item {
            padding-left: 0;
            //margin-top:20px;
        }
        .am-list-extra{
            flex-basis:50%;
        }

    }
    .receiving-reg {
        .am-input-label, .am-input-label-5{
            display: flex;
            justify-content: space-between;
            width: 100% !important;
        }
        .area{
            line-height:0.88rem;
        }
    }
    .button{
        .largeButton();
        .important;
        margin:80px auto 0;
        color:#fff !important;
        opacity: 1;
    }
    .am-list-item .am-list-line {
        padding: 0 30px;
    }
    .am-list-body::before {
        height: 0!important;
    }
    .region{
        width: initial;
        line-height: 96px;
        padding: 0;
        border-bottom: none;
        position: absolute;
        right:0;
    }
}
