@import "~style";
.ShopHomeIndexFive {
    padding-bottom: 150px;
    .Popular-bl {
        color: #040100;
        font-size: @font-size-30;
        letter-spacing: 3px;
        line-height: 44px;
    }

    .template-top {
        width: 100%;
        margin-bottom: 80px;
        // background:#A92203;
        position: relative;
        .shopHomeFiveBanner{
            .am-wingblank.am-wingblank-lg{
                padding: 0;
                margin: 0;
                .slider-list{
                    height: 772px !important;
                }
                img{
                    width: 100%;
                }
            }
            .slider-decorator-0{
                width: unset !important;
                bottom: unset !important;
                right: 10px !important;
            }
        }
        img {
            // width: 570px;
            width: 100%;
           
        }
    }

    .boutique {
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 60px;
        .boutique-name-top {
            margin-bottom: 20px;
            color: #000204;
            font-size: @font-size-30;
        }
        .boutique-name-bottom {
            margin-bottom: 30px;
            color: #505151;
            font-size: @font-size-30;
        }
    }

    .thing {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .sell-well {
            width: 45%;
            margin: 15px;
            img{
                width: 100%;
            }
        }
        .thing-center {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            line-height: 60px;
            p{
                font-size:30px;
                color: @darker-black;
                .TextOverflow();
            }
        }
    }

    .popular-name {
        text-align: center;
        .popular-name-top {
            color: #521d10;
            font-size: @font-size-60;
            letter-spacing: 2px;
            margin-bottom: 20px;
            margin-top: 30px;
        }
        .popular-name-bottom {
            color: #521d10;
            font-size: @font-size-30;
            margin-bottom: 30px;
        }
    }

    .popular-one {
        margin-bottom: 20px;
        .popular-one-top {
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }
        .popular-one-bottom {
            // background-color: #a52f15;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .introduce-left{
                .TextOverflow();
            }
        }
    }

    .popular-two {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .popular-two-left {
            margin-top: 31px;
            img {
                width: 319px;
                height: 402px;
                margin-bottom: 31px;
            }
        }
        .popular-two-right {
            img {
                width: 301px;
                margin-bottom: 27px;
            }
        }
    }
    .popular-two-copy{
        .popular-two-left{
            .popular-two-left-top{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 315.2x;
                &>div{
                    width: 50%;
                    background:#a52f15;
                    height: 315.2px;
                    text-align: center;
                    .inner{
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        span{
                            display: block;
                            font-size: 43px;
                            color: @white;
                        }
                        span:nth-child(2){
                            font-size: 30px;
                            margin-top: 10px;
                        }
                    }
                }
                img{
                    width: 50%;
                }
            }
            .popular-two-left-bot{
                width: 50%;
                float: right;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 70px;
                line-height: 70px;
            }
        }
    }
    .popular-three {
        overflow: hidden;
        margin-bottom: 40px;
        .popular-three-left {
            float: right;
            width: 286px;
            height: 280px;
        }
        .popular-three-right {
            float: left;
            margin-top: -211px;
            img {
                width: 551px;
                height: 329px;
                margin-bottom: 19px;
            }
            .introduce{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;
                line-height: 60px;
            }
            
        }
    }

    .popular-four {
        margin-bottom: 3px;
        margin-top: 100px;
        text-align: center;
        position: relative;
        .winter {
            width: 85%;
            margin: auto;
            .popular-four-right {
                img {
                    width: 100%;
                }
            }
        }
        .empty-container-four{
            height:232px;
            background:#a52f15;
            position: absolute;
            bottom: 90px;
            width: 100%;
            z-index: -1;
        }
        .introduce{
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 60px;
            height: 60px;
        }
        
    }

    .popular-five {
        margin-bottom: 100px;
        .popular-box {
            overflow: hidden;
            margin-bottom: 21px;
            .popular-five-bottom {
                width: 642px;
                height: 232px;
                float: left;
                margin-top: 176px;
            }
            .popular-five-top {
                float: left;
                margin: -408px 0 0 18px;
                img {
                    width: 606px;
                    height: 354px;
                }
            }
        }
        .overcoat {
            display: flex;
            justify-content: space-between;
        }
    }
}

