@import "~style";
.shopHomeFourContent {
    .shopHomFourBanner{
        a{
            display:block;
            width:750px;
            height:498px;
            background:#CAD9EC;
        }
        img{
            display:block;
            width:100%;
            height:100%
        }
    }
    .newImgShow{
        padding-top:83px;
        padding-bottom: 21px;
        overflow: hidden;
        ul{
            width:110px;
            height:470px;
            // background:#FFF59C;
            border-top-right-radius: 50px;
            margin-right:14px;
            margin-top:27px;
            li{
                text-align:center;
                height:25%;
                padding-top:20px;
                font-weight:bold;
                color:#57455D;
                p{
                    font-size:24px;
                }
                span{
                    font-size:20px;
                }
                //line-height:25%;
            }

        }
        .newImgShowRt{
            width:606px;
            h3{
                height:73px;
                font-size:100px;
                color:#C4DCF4;
                margin-top:-19px;

            }
            a{
                display:block;
                width:606px;
                background:#FFF59B;
                margin-top:38px;
                img{
                    display: block;
                    width:100%;
                    height:100%;
                }
            }
            .newImgShowRT-bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .hotRank{
        padding:60px 28px 0 28px;
        // background:#C5DDF4;
        .rankImg{
            position:relative;
            img{
                display:block;
                width:690px;
                height:779px;


            }

        }
        .rankImgInfo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                width:558px;
                height:46px;
                line-height:46px;
                margin: 0 auto;
                // background:#FFF699;
                text-align:center;
                font-size:24px;
                color:#101010;
                &:last-child{
                    width:219px;
                    color:#4A3254;
                    font-weight:bold;
                    margin-top:6px;
                    span{
                        font-size:16px;
                    }
                }


            }
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            li{
                width: 45%;
                margin: 15px;
                img{
                    display:block;
                    width:100%;

                }
            }
        }
    }
    .hotRank2{
        padding-top:60px;
        margin-bottom:100px;
        ul{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-around;
            li{
                width:330px;
                height:400px;
                position:relative;
                margin-bottom: 40px;
                img{
                    display:block;
                    width:330px;
                    height:330px;
                }

                p{
                    margin-top:25px;
                    font-size:38px;
                    color:#404040;
                    span{
                        font-size:28px;
                        color:#404040;
                        &:last-child{
                            background:0;
                            margin-left:20px;
                            font-size:16px;
                            color:#999999;
                            text-decoration: line-through;
                        }
                    }
                }
                i{
                    position:absolute;
                    top: 360px;
                    right:0;
                    width:70px;
                    height:30px;
                    line-height:30px;
                    text-align:center;
                    font-size:19px;
                    color:#4F415B;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius: 10px;
                    // background: #FAEB32;
                }
            }
        }
    }
    .comTitle4{
        width:294px;
        text-align:center;
        color:#482F53;
        margin:0 auto;
        margin-bottom:60px;
       h2{
           font-size:28px;
           font-weight:normal;
           margin-bottom:13px;
       }
       h3{
           font-size:30px;
           font-weight:bold;
           margin-top:13px;
           color:#4A3254;


       }
        p{
            width:100%;
            //height:1px;
            //background:#575000;
            border:1px solid #575000;
            background:#575000;
            transform: scaleY(.5);
        }
   }

    //编辑面板
    .compile-box {
        margin-right: 48px;
        //标题
        .compile {
            margin-bottom: 12px;
            font-size: 16px;
            color: #ccc;
        }
        .ant-carousel,.banner-img {
            width: 372px;
            // height: 447px;
            .slick-active{
                height:145px;
            }
            img{
                width:100%;
                height:100%;
                display:block;
            }
            .slick-slide {
                div {
                    height: inherit;
                }
            }
        }
        //标题栏
        .title-bar {
            color: #ccc;
            text-align: center;
            margin-bottom: 20px;
            font-size: 16px;
            span:nth-child(1) {
                color: #ccc;
                padding: 0 10px 2px;
                border-bottom: 1px solid #ccc;
                margin-bottom: 10px;
            }
            div:nth-child(2) {
                margin-top: 5px;
                font-size: 14px;
                color: #ccc;
            }
        }

        .sell-box {
            background: pink;
            padding-top: 15px;
            .title-bar {
                color: #fff;
                span:nth-child(1){
                    color: #fff;
                    border-bottom: 1px solid #fff;
                }
                div:nth-child(2) {
                    color: #fff;
                }
            }
            .sell {
                padding: 0 40px;
                margin-bottom: 10px;
                .sell-goods {
                    width: 100%;
                    height: 132px;
                    img {
                        width: 100%;
                        height: inherit;
                    }
                }
            }
        }
        .sell-commodity-box {
            display: flex;
            padding: 0 25px;
            flex-wrap: wrap;
            .sell{
                width: 100%;
            }
            .sell-commodity {
                width: 50%;
                padding: 0 4px;
                margin-bottom: 10px;
                height: 185px;
                .sell-commodity-img {
                    width: 100%;
                    border: 1px solid #ccc;
                    height: 156px;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        //公用标题-价格
        .headline-price {
            display: flex;
            justify-content: space-between;
            .headline {
                font-size: 14px;
                margin-bottom: 3px;
            }
            .price {
                span:nth-child(1) {
                    color: #ccc;
                    font-size: 10px;
                    margin-right: 10px;

                    span {
                        font-size: 14px;
                    }
                }
                span:nth-child(2) {
                    font-size: 10px;
                    color: #ccc;
                    text-decoration:line-through
                }
            }
        }

        .headline-price-take {
            //display: flex;
            //justify-content: space-between;
            .headline {
                font-size: 14px;
                margin-bottom: 3px;
            }
            .price {
                span:nth-child(1) {
                    color: #ccc;
                    font-size: 10px;
                    margin-right: 10px;

                    span {
                        font-size: 14px;
                    }
                }
                span:nth-child(2) {
                    font-size: 10px;
                    color: #ccc;
                    text-decoration:line-through
                }
            }
        }
    }

    .headline-price {
        height: 24px;
        .headline {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1!important;
            -webkit-box-orient: vertical;
        }
    }
}
