@import "~style";
.shopHomeFourContent {
    padding-bottom: 100px;
    .shopHomFourBanner{
        a{
            display:block;
            width:750px;
            height:498px;
            background:#CAD9EC;
        }
        img{
            display:block;
            width:100%;
            height:100%
        }
        .slider-list{
            height: 316px !important;
        }
        .my-carousel{
            // height: 950px;
            
        }
    }
    .new-box {
        display: flex;
        padding-right: 40px;
        margin-bottom: 20px;
        margin-top: 30px;
        .new-left {
            width: 30%;
            //height: 100%;
            border-radius: 0 60px 0 0 ;
            background: #CAD9EC;
            margin-right: 40px;
            margin-top: 54px;
        }
        .new-right {
            .fresh {
                font-size: @font-size-100;
                color: #CAD9EC;
                font-style:italic;
                margin-bottom: 40px;
            }
            img {
                width: 100%;
                margin-bottom: 19px;
            }
        }
    }
    .newImgShow{
        padding-top:83px;
        padding-bottom: 21px;
        overflow: hidden;
        ul{
            width:110px;
            height:470px;
            // background:#FFF59C;
            border-top-right-radius: 50px;
            margin-right:14px;
            margin-top:27px;
            li{
                text-align:center;
                height:25%;
                padding-top:20px;
                font-weight:bold;
                color:#57455D;
                p{
                    font-size:24px;
                }
                span{
                    font-size:20px;
                }
                //line-height:25%;
            }

        }
        .newImgShowRt{
            width:606px;
            h3{
                height:73px;
                font-size:100px;
                color:#C4DCF4;
                margin-top:-19px;

            }
            a{
                display:block;
                width:606px;
                background:#FFF59B;
                margin-top:38px;
                img{
                    display: block;
                    width:100%;
                    height:100%;
                }
            }
            .newImgShowRT-bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .comTitle4{
        width:294px;
        text-align:center;
        color:#482F53;
        margin:0 auto;
        margin-bottom:60px;
       h2{
           font-size:28px;
           font-weight:normal;
           margin-bottom:13px;
       }
       h3{
           font-size:30px;
           font-weight:bold;
           margin-top:13px;
           color:#4A3254;


       }
        p{
            width:100%;
            //height:1px;
            //background:#575000;
            border:1px solid #575000;
            background:#575000;
            transform: scaleY(.5);
        }
   }

    //编辑面板
    .compile-box {
        //margin-right: 48px;
        //标题
        .compile {
            margin-bottom: 12px;
            font-size: 16px;
            color: #ccc;
        }
        .ant-carousel,.banner-img {
            width: 372px;
            // height: 447px;
            .slick-active{
                height:145px;
            }
            img{
                width:100%;
                display:block;
            }
            .slick-slide {
                div {
                    height: inherit;
                }
            }
        }
        //标题栏
        .title-bar {
            color: @white;
            text-align: center;
            margin-bottom: 40px;
            //margin-bottom: 20px;
            //font-size: 16px;
            div:nth-child(1) {
                display: inline-block;
                font-size: @font-size-28;
                padding: 0 29px 11px;
                border-bottom: 1px solid @white;
                margin-bottom: 30px;
            }
            div:nth-child(2) {
                font-size: @font-size-30;
                //margin-top: 5px;
                //color: #ccc;
            }
        }
        .hot-sale {
            color: @dark-gray;
            div:nth-child(1) {
                border-bottom: 1px solid #CAD9EC;
            }
        }

        .sell-box {
            background: #CAD9EC;
            padding-top: 15px;
            .title-bar {
                color: #fff;
                span:nth-child(1){
                    color: #fff;
                    border-bottom: 1px solid #fff;
                }
                div:nth-child(2) {
                    color: #fff;
                }
            }
            .sell {
                padding: 0 36px;
                margin-bottom: 41px;
                .sell-goods {
                    width: 100%;
                    height: 330px;
                    margin-bottom: 19px;
                    img {
                        width: 100%;
                        height: 100%;
                        margin-bottom: 19px;
                    }
                }
            }
            .sell-commodity-box {
                margin-bottom: 58px;
            }
        }
        .sell-commodity-box {
            display: flex;
            padding: 0 49px;
            flex-wrap: wrap;
            .sell{
                width: 100%;
            }
            .sell-commodity {
                width: 50%;
                padding: 0 11px;
                margin-bottom: 40px;
                .sell-commodity-img {
                    width: 100%;
                    //border: 1px solid #ccc;
                    height: 304px;
                    margin-bottom: 19px;
                    img {
                        height: 100%;
                        width: 100%;
                        //margin-bottom: 19px;
                    }
                }
            }
        }

        //公用标题-价格
        .headline-price {
            display: flex;
            justify-content: space-between;
            .headline {
                font-size: @font-size-30;
                //margin-bottom: 3px;
            }
        }

        .headline-price-take {
            .headline {
                font-size: @font-size-30;
                margin-bottom: 24px;
                color: @darker-black;
            }
        }
    }

    .headline-price {
        //height: 24px;
        .headline {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1!important;
            -webkit-box-orient: vertical;
        }
    }
}
