@import "~style";

.ShopHomeIndex{
  .shopHomeContent{
    .items{
      padding-left: 50px;
      padding-right: 50px;
      .newImgShow{
          overflow: hidden;
          position: relative;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
              .bottomImgLeft{
                  width: 45%;
                  margin: 15px;
                  div{
                      img{
                          display:block;
                          width:100%;
                      }
                      &.marginBot{
                          margin-bottom: 20px;
                          img{
                              width: 100%;
                          }
                          .margin-bot-box{
                            //   display: flex;
                            //   justify-content: space-between;
                            //   align-items: center;
                              padding-top: 8px;
                              .margin-bot-content-top{
                                  font-size: 30px;
                                  color:#040100;
                                  .TextOverflow();
                              }
                          }
                      }
                  }
              }
          
      }
      .imgShow{
          img{
              width:690px;
              height:900px;
          }
      }
    }
  }
}
