<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes"/>
        <meta name="format-detection" content="telephone=no,email=no,adress=no,date=no"/>
        <title>CAM商城</title>
        <!-- <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=GFnu2bon0GPM7wuu8rPROimLuqi18eFE&s=1"></script> -->
        <style>
            @keyframes skelon{
                0% {background-position: 100% 50%;}
                100% {background-position: 0 50%;}
            }
            #skelon{
                position: fixed;
                width: 100%;
                background-color: #fff;
                z-index: 9999;
                height: 100vh;
                overflow: hidden;
            }
            body{
                margin: 0;
            }
            /* 列表骨架屏 */
            .list-content{
                padding: 0 15px;
                padding-top: 30px;
            }
            .list-item-container{
                display: flex;
                justify-content: flex-start;
                margin-bottom: 15px;
            }
            .list-item-left{
                width: 120px;
                height: 120px;
                background-color: #F2F2F2;
                margin-right: 10px;
                border-radius: 5px;
                background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
                background-size: 400% 100%;
                -webkit-animation: skelon 1.4s ease infinite;
                animation: skelon 1.4s ease infinite;
            }
            .list-item-right{
                padding-top: 10px;
                flex: 1;
            }
            .list-item-right-item{
                height: 15px;
                border-radius: 5px;
                background-color: #F2F2F2;
                background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
                background-size: 400% 100%;
                -webkit-animation: skelon 1.4s ease infinite;
                animation: skelon 1.4s ease infinite;
            }
            /* .list-item-right-item:nth-child(1){
            width: 100%;
            } */
            .list-item-right-item:nth-child(2){
                margin-top: 6px;
                width: 160px;
            }
            .list-item-right-item:nth-child(3){
                margin-top: 16px;
                width: 90px;
            }
            .list-item-right-item:nth-child(4){
                margin-top: 28px;
                width: 50px;
            }
            .detail-top{
                height: 290px;
                background-color: #F2F2F2;
                background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
                background-size: 400% 100%;
                -webkit-animation: skelon 1.4s ease infinite;
                animation: skelon 1.4s ease infinite;
            }
            .detail-bottom{
                padding: 16px 15px;
                background-color: #fff;
            }
            .detail-item-title{
                width: 100px;
                /* background-color: #FFCCD4; */
                height: 24px;
                border-radius: 5px;
                background: linear-gradient(90deg, #FFCCD4 25%, rgb(255, 182, 182) 37%, #FFCCD4 63%);
                background-size: 400% 100%;
                -webkit-animation: skelon 1.4s ease infinite;
                animation: skelon 1.4s ease infinite;
            }
            .detail-item{
                height: 15px;
                border-radius: 5px;
                background-color: #F2F2F2;
                background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
                background-size: 400% 100%;
                -webkit-animation: skelon 1.4s ease infinite;
                animation: skelon 1.4s ease infinite;
            }
            .detail-item:nth-child(2){
                margin-top: 12px;
            }
            .detail-item:nth-child(3){
                margin-top: 12px;
                width: 150px;
            }
            .detail-item:nth-child(4){
                margin-top: 16px;
                width: 60px;
            }
            .detail-item:nth-child(5){
                margin-top: 30px;
                width: 200px;
            }
            .detail-item:nth-child(6){
                margin-top: 20px;
                width: 200px;
            }
            .detail-item:nth-child(7){
                margin-top:25px;
                width: 60px;
            }
            .detail-item:nth-child(8){
                margin-top: 12px;
                width: 160px;
            }
            .detail-item:nth-child(9){
                margin-top: 40px;
                width: 100px;
            }
            /* 店铺列表骨架屏 */
            .shop-list-content{
                padding: 0 15px;
                padding-top: 30px;
            }
            .shop-list-item{
                margin-bottom: 40px;
            }
            .shop-list-item div{
                border-radius: 5px;
            }
            .shop-list-item-top{
                height: 15px;
            }
            .shop-list-item-top>.item{
                height: 15px;
                width: 140px;
                background-color: #f2f2f2;
                background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
                background-size: 400% 100%;
                -webkit-animation: skelon 1.4s ease infinite;
                animation: skelon 1.4s ease infinite;
                float: right;
            }
            .shop-list-item-bot{
                display: flex;
                justify-content: flex-start;
            }
            .shop-list-item-bot-left{
                width: 50px;
                height: 50px;
                margin-right: 5px;
                background-color: #f2f2f2;
                background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
                background-size: 400% 100%;
                -webkit-animation: skelon 1.4s ease infinite;
                animation: skelon 1.4s ease infinite;
            }
            .shop-list-item-bot-right{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            .shop-list-item-bot-right-item{
                height: 15px;
                background-color: #f2f2f2;
                background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
                background-size: 400% 100%;
                -webkit-animation: skelon 1.4s ease infinite;
                animation: skelon 1.4s ease infinite;
            }
            .shop-list-item-bot-right-item:nth-child(1){
                width: 90px;
            }
            .shop-list-item-bot-right-item:nth-child(2){
                width: 240px;
                margin-top: 8px;
            }
        </style>
        <!-- jsbridge 前端初始化 安卓ios  -->
        <script type="text/javascript">
                //原生dsBrage使用
                window.DsBridge = {
                  default: this,
                    call: function (b, a, c) {
                        let e = '';
                        typeof a === 'function' && (c = a, a = {}); a = {data: void 0 === a ? null : a}; if (typeof c === 'function') { const g = 'dscb' + window.dscb++; window[g] = c; a._dscbstub = g }a = JSON.stringify(a); if (window._dsbridge)e = _dsbridge.call(b, a); else if (window._dswk || navigator.userAgent.indexOf('_dsbridge') != -1)e = prompt('_dsbridge=' + b, a); return JSON.parse(e || '{}').data;
                    },
                    register: function (b, a, c) {
                        c = c ? window._dsaf : window._dsf;
                        window._dsInit || (window._dsInit = !0, setTimeout(() => { bridge.call('_dsb.dsinit') }, 0)); typeof a === 'object' ? c._obs[b] = a : c[b] = a;
                    },
                    registerAsyn: function (b, a) { this.register(b, a, !0) },
                    hasNativeMethod: function (b, a) { return this.call('_dsb.hasNativeMethod', {name: b, type: a || 'all'}) },
                    disableJavascriptDialogBlock: function (b) { this.call('_dsb.disableJavascriptDialogBlock', {disable: !1 !== b}) }
                  };
                !(function () {
                    if (!window._dsf) {
                        let b = {_dsf: {_obs: {}},
                                _dsaf: {_obs: {}},
                                dscb: 0,
                                dsBridge: window.DsBridge,
                                close: function () { window.DsBridge.call('_dsb.closePage') },
                                _handleMessageFromNative: function (a) {
                                    var e = JSON.parse(a.data),
                                        b = {id: a.callbackId, complete: !0},
                                        c = this._dsf[a.method],
                                        d = this._dsaf[a.method],
                                        h = function (a, c) { b.data = a.apply(c, e); window.DsBridge.call('_dsb.returnValue', b) },
                                        k = function (a, c) { e.push((a, c) => { b.data = a; b.complete = !1 !== c; window.DsBridge.call('_dsb.returnValue', b) }); a.apply(c, e) }; if (c)h(c, this._dsf); else if (d)k(d, this._dsaf);
                                    else if (c = a.method.split('.'), !(c.length < 2)) {
                                        a = c.pop(); var c = c.join('.'),
                                            d = this._dsf._obs,
                                            d = d[c] || {},
                                            f = d[a]; f && typeof f === 'function' ? h(f, d) : (d = this._dsaf._obs, d = d[c] || {}, (f = d[a]) && typeof f === 'function' && k(f, d));
                                    }
                                }},
                            a;
                        for (a in b)window[a] = b[a]; window.DsBridge.register('_hasJavascriptMethod', (a, b) => { b = a.split('.'); if (b.length < 2) return !(!_dsf[b] && !_dsaf[b]); a = b.pop(); b = b.join('.'); return (b = _dsf._obs[b] || _dsaf._obs[b]) && !!b[a] });
                    }
                }());
        </script>
        <script>
            function res() {
                var deviceWidth = document.documentElement.clientWidth;
                if (deviceWidth > 750) deviceWidth = 750;
                document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
                window.rem = deviceWidth / 7.5;
            }
            res();
            window.onresize = function () {
                res();
            }
        </script>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet"/>
        <% } %>
    </head>
    <body>
        <div id="skelon">
            <!-- 详情 -->
            <div class="detail-container" style="display: none;">
                <div class="detail-top"></div>
                <div class="detail-bottom">
                  <div class="detail-item-title"></div>
                  <div class="detail-item"></div>
                  <div class="detail-item"></div>
                  <div class="detail-item"></div>
                  <div class="detail-item"></div>
                  <div class="detail-item"></div>
                  <div class="detail-item"></div>
                  <div class="detail-item"></div>
                  <div class="detail-item"></div>
                </div>
            </div>
            <!-- 店铺列表 -->
            <div class="shop-list-container" style="display: none;">
                <div class="shop-list-content">
                  <div class="shop-list-item">
                    <div class="shop-list-item-top">
                      <div class="item"></div>
                    </div>
                    <div class="shop-list-item-bot">
                      <div class="shop-list-item-bot-left"></div>
                      <div class="shop-list-item-bot-right">
                        <div class="shop-list-item-bot-right-item"></div>
                        <div class="shop-list-item-bot-right-item"></div>
                      </div>
                    </div>
                  </div>
                  <div class="shop-list-item">
                    <div class="shop-list-item-top">
                      <div class="item"></div>
                    </div>
                    <div class="shop-list-item-bot">
                      <div class="shop-list-item-bot-left"></div>
                      <div class="shop-list-item-bot-right">
                        <div class="shop-list-item-bot-right-item"></div>
                        <div class="shop-list-item-bot-right-item"></div>
                      </div>
                    </div>
                  </div>
                  <div class="shop-list-item">
                    <div class="shop-list-item-top">
                      <div class="item"></div>
                    </div>
                    <div class="shop-list-item-bot">
                      <div class="shop-list-item-bot-left"></div>
                      <div class="shop-list-item-bot-right">
                        <div class="shop-list-item-bot-right-item"></div>
                        <div class="shop-list-item-bot-right-item"></div>
                      </div>
                    </div>
                  </div>
                  <div class="shop-list-item">
                    <div class="shop-list-item-top">
                      <div class="item"></div>
                    </div>
                    <div class="shop-list-item-bot">
                      <div class="shop-list-item-bot-left"></div>
                      <div class="shop-list-item-bot-right">
                        <div class="shop-list-item-bot-right-item"></div>
                        <div class="shop-list-item-bot-right-item"></div>
                      </div>
                    </div>
                  </div>
                  <div class="shop-list-item">
                    <div class="shop-list-item-top">
                      <div class="item"></div>
                    </div>
                    <div class="shop-list-item-bot">
                      <div class="shop-list-item-bot-left"></div>
                      <div class="shop-list-item-bot-right">
                        <div class="shop-list-item-bot-right-item"></div>
                        <div class="shop-list-item-bot-right-item"></div>
                      </div>
                    </div>
                  </div>
                  <div class="shop-list-item">
                    <div class="shop-list-item-top">
                      <div class="item"></div>
                    </div>
                    <div class="shop-list-item-bot">
                      <div class="shop-list-item-bot-left"></div>
                      <div class="shop-list-item-bot-right">
                        <div class="shop-list-item-bot-right-item"></div>
                        <div class="shop-list-item-bot-right-item"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- 列表页 -->
            <div class="list-container" style="display: block;">
                <div class="list-content">
                  <div class="list-item-container">
                    <div class="list-item-left"></div>
                    <div class="list-item-right">
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                    </div>
                  </div>
                  <div class="list-item-container">
                    <div class="list-item-left"></div>
                    <div class="list-item-right">
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                    </div>
                  </div>
                  <div class="list-item-container">
                    <div class="list-item-left"></div>
                    <div class="list-item-right">
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                    </div>
                  </div>
                  <div class="list-item-container">
                    <div class="list-item-left"></div>
                    <div class="list-item-right">
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                    </div>
                  </div>
                  <div class="list-item-container">
                    <div class="list-item-left"></div>
                    <div class="list-item-right">
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                      <div class="list-item-right-item"></div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div id="root"></div>
        <script>
            var loadingAnimation = document.getElementById("skelon");
            var detailContainer = document.getElementsByClassName("detail-container");
            var listContaine = document.getElementsByClassName("list-container")
            var shopListContainer = document.getElementsByClassName('shop-list-container')
            var isAddress = window.location.href
            if(isAddress.includes('goodsDetail')){
                detailContainer.style.display = 'block'
                shopListContainer.display = 'none'
                listContaine.display = 'none'
            }
            if(isAddress.includes('shopCart')){
                shopListContainer.display = 'block'
                detailContainer.style.display = 'none'
                listContaine.display = 'none'
            }
        </script>
        <% if (htmlWebpackPlugin.options.env === 'test'||htmlWebpackPlugin.options.env === 'prev') { %>
        <!-- VConsole调试 (mobile 上调试)-->
        <script src="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/3.0.0/vconsole.min.js"></script>
        <script>
            new VConsole();
        </script>
        <% } %>
        <%var chunks = htmlWebpackPlugin.files.chunks;for (var chunk in chunks) {%>
        <script src="<%=chunks[chunk].entry %>"></script><% } %>
    </body>
</html>
